
body{
  margin:0px;
  padding: 0px;
}


header {
  background: white;
  height: 126px;
  z-index: 88888;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.6);
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 4em;
  margin-top:0.5em;
}

header .logo img{
  height:85%;
}

header .calls {
  position: absolute;
  left: 30em;
  top: 10px;
  width: 400px;
  height: 45px;
  float: left;
  padding-left: 0%;
  padding-top: 10px;
  font-size: 1.3em;
}

header a {
  text-decoration: none;
}

header * {
  color: black;
}

header ul {
  float: right;
  height: auto;
  margin-left: 0px;
  margin-right: 55px;
  margin-top: 65px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;


}

header ul li {
  float: left;
  padding-right: 0px;
  position: relative;
  font-family: 'Lato', sans-serif;
  vertical-align: bottom;

}

header ul li ul {
  position: relative;
  top:0px;
  margin:0px;
  width: 150px;
  display: none;
  opacity: 1;

}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
  opacity: 1;
}

header ul li ul li a {
  font-weight: lighter;
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a:hover {
  background: #4eb5f1;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  opacity: 1;
}

header ul li a:hover {
  color:#4eb5f1;

}
header ul li ul li a:hover{
  color:white;
}

header #menu-toggle {
  display: none;
}

#submitenquiry {
  position: absolute;
  margin: 20px;
  margin-top: 10px;
  right: 30px;
  top: 0px;
}

#submitenquiry button {
  height: 40px;
  padding: 0.3em 1.2em;
  box-sizing: border-box;
  font-size: 100%;
  color: #FFFFFF;
  background-color: #4eb5f1;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: all 0.2s;
  text-align: center;
  text-decoration: none;
  border-radius: 2em;
  margin: 0 0.3em 0.3em 0;
  cursor:pointer;
}

#submitenquiry button:hover {
  background-color: #4095c6;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width:990px) {
  header {
    position: relative;
    background: white;
    height: 186px;
  }

  header .logo {
    float: left;
    height: 136px;
    margin-left: 1em;
  }

  header .logo img {
    height: 136px;
  }

  header .calls {
    display: none;
  }

  header ul {
    width: 100%;
    background: white;
    margin: 0px;
    max-height: 0px;
    overflow: hidden;
  }

  .showing {
    max-height: 100em;
  }

  .hidden {
    max-height: 0em;
  }

  header ul li {
    position: static;
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  header ul li a {
    font-size: 2em;
  }

  header ul li ul {
    position: static;
    display: block;
    width: 100%;
    margin-bottom: 0px;

  }

  header ul li ul li {
    justify-content: flex-start;

  }

  header ul li ul li a {
    padding: 10px;
    background: inherit;
    color: black;
    padding-left: 450px;
    padding-bottom: 20px;
    font-size: 1.5em;
    text-align: left;
  }

  header ul li ul {
    display: none;
  }

  header ul li:hover li {
    display: block;

  }

  header ul li ul li a:hover {
    background: none;
    color: #d5d6d6;
  }

  header #menu-toggle {
    display: block;
    position: absolute;
    right: 40px;
    top: 57px;
    font-size: 4.5em;
  }

  header .logo {
    float: left;
    height: inherit;
    margin-left: .8em;
  }

  #submitenquiry {
    display: none;
    position: absolute;
    margin: 20px;
    right: 110px;
    top: 10px;
  }

  #submitenquiry button {
    height: 40px;
    width: 150px;
    padding: 0px;
    font-size: 100%;
    color: white;
    background-color: #4CAF50;
    font-weight: bold;
    font-family: helvetica;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

}

@media only screen and (max-width:1220px) {
  header .callus {
    display: none;
  }
}

section {
  padding: 0px;
  margin-top: 80px;
  padding-top: 0px;
  background: #f6f6f6;
  font-family: 'Lora', serif;
}

.restofbody {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: row;
}

#aboutus {
  width: 50%;
  background-color: #e5e5e5;
  padding: 10px 10px;
  background-clip: padding-box;
  margin: 0px 0px;
  font-family: roboto;
  font-size: 100%;
  border-radius: ;
}

#aboutus .paragraph {
  padding: 0px 10px;
}

.titleheader {
  text-align: center;
  margin: 30px;
  font-family: 'candal', 'serif';
  color: #444;
}

.fieldofexperience {
  width: 50%;
  background-color: #393e46;
  color: white;
  padding: 10px 10px;
  background-clip: padding-box;
  margin: 0;
  font-family: roboto;
  font-size: 100%;
  border-radius: ;
}

.fieldofexperience .titleheader {
  color: white;
}

.fieldofexperience .paragraph {
  padding: 0px 10px;
}

/*********** post slider**************/
.page-wrapper {
  margin: 0px 0 0 0;
  overflow: hidden;
}

.post-slider {
  position: relative;
  height: 625px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.post-slider .next {
  position: absolute;
  top: 45%;
  right: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 45%;
  left: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .post-wrapper {
  position: relative;
  width: 90%;
  height: 620px;
  margin: 0px auto;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
}

.post-slider .post-wrapper .post {
  position: relative;
  overflow: hidden;
  top: 0px;
  height: 600px;
  width: 300px;
  margin: 0px 0px;
  padding: 0px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .name {
  position: absolute;
  width: inherit;
  font-family: helvetica;
  color: #443737;
}

.post-slider .post-wrapper .post .name .callsBody {
  display: none;
}

.post-slider .post-wrapper .post .name h1 {
  text-align: left;
  justify-content: center;
  width: 100%;
  padding-left: 115px;
  font-size: 400%;
  margin-bottom: 20px;
  margin-top: 200px;
  font-family: roboto;
  color: #393e46;
  font-weight: lighter;
}

.post-slider .post-wrapper .post .name h2 {
  text-align: left;
  padding-left: 20px;
  width: 70%;
  font-size: 200%;
  margin-top: 10px;
  font-weight: lighter;
  font-stretch: expanded;
  font-family: roboto;
  color: #393e46;
  font-weight: lighter;
}

.callsBody {
  display: none;
}

.post-slider .post-wrapper .post .name .readMore {
  position: relative;
  width: 300px;
  height: 70px;
  margin: 20px;
  left: 410px;
  top: 90px;
}

.post-slider .post-wrapper .post .name .readMore button {
  height: 60px;
  width: 200px;
  padding: 0.3em 1.2em;
  box-sizing: border-box;
  font-size: 100%;
  color: #FFFFFF;
  background-color: #4eb5f1;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: all 0s;
  text-align: center;
  text-decoration: none;
  border-radius: 2em;
  margin: 0 0.3em 0.3em 0;
  cursor: pointer;
}

.post-slider .post-wrapper .post .name .readMore button:hover {
  background: #4095c6;
}

.post-slider .post-wrapper .post .name .contactUs {
  position: relative;
  width: 300px;
  height: 70px;
  margin: 20px;
  left: 110px;
  top: 0px;
}

.post-slider .post-wrapper .post .name .contactUs button {
  height: 60px;
  width: 200px;
  padding: 0.3em 1.2em;
  box-sizing: border-box;
  font-size: 100%;
  color: #FFFFFF;
  background-color: #4eb5f1;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: all 0s;
  text-align: center;
  text-decoration: none;
  border-radius: 2em;
  margin: 0 0.3em 0.3em 0;
  cursor: pointer;
}

.post-slider .post-wrapper .post .name .contactUs button:hover {
  background: #4095c6;
}

#post1 {
  position: inherit;
  background-image: url("images/london7.jpg");
  background-size: cover;
}

#post2 {
  position: inherit;
  background-image: url("images/london5.jpg");
  background-size: cover;
}

#post2 h1 {
  color: white;
}

#post2 h2 {
  color: white;
  padding-left: 60px;
  padding-bottom: 40px;
}

#post2 .name .readMore {
  position: relative;
  width: 300px;
  height: 70px;
  margin: 20px;
  left: 910px;
  bottom: 10px;
}

#post2 .name .contactUs {
  position: relative;
  width: 300px;
  height: 70px;
  margin: 20px;
  left: 610px;
  top: 0px;
}

.tileheader {
  text-align: center;
}

/*********** Our Team**************/
.ourTeam {
  margin: 0;
  overflow: hidden;
  background-color: #ecfcff;

}

.ourTeam a:hover {
  color: #006669;
}

.ourTeam .post-slider {
  position: relative;
  padding-bottom: 0px;
  height: auto;
  margin-top: 0px;

}

.ourTeam .post-slider .slider-title {
  text-align: center;
  margin: 30px;
  font-family: 'candal', 'serif';
  color: #444;
}

.ourTeam .post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.ourTeam .post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.ourTeam .post-slider .post-wrapper1 {
  width: 80%;
  height: auto;
  margin: 0px auto;
  overflow: ;
  padding: 10px 20px 10px 20px;

}

.ourTeam .post-slider .post-wrapper1 .post {
  height: 305px;
  width: 180px;
  margin: 0px 40px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px rgba(0.6,0.6,0.6,.6);


}

.ourTeam .post-slider .post-wrapper1 .post .post-info {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  font-family: roboto;
  height: 30px;
  color: inherit;
  padding: 0px 5px;

}
.ourTeam .post-slider .post-wrapper1 .post .post-info h1{
  margin:0px;
}

.ourTeam .post-slider .post-wrapper1 .post .post-info h2 {
  font-style: italic;
  font-size: 1.2em;
  margin:0;
  padding-top: 10px;
}

.ourTeam .post-slider .post-wrapper1 .post .slider-image {

  padding-left: 15%;
  width: 70%;
  height: 230px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.ourTeam .tileheader {
  text-align: center;
}

/*********** form**************/
.footer {
  background-color:#b2fcff ;
  padding-left: 20%;
  padding-right: 20%;
  font-family: helvetica;
}

input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=number], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  float: right;
  height: 40px;
  padding: 0.3em 1.2em;
  box-sizing: border-box;
  font-size: 100%;
  color: #FFFFFF;
  background-color: #4eb5f1;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: all 0.2s;
  text-align: center;
  text-decoration: none;
  border-radius: 2em;
  margin: 0 0.3em 0.3em 0;
  cursor:pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #4095c6;
}

/* Add a background color and some padding around the form */



#footer1{
  background-color: #4eb5f1;
  margin-bottom: 0;
}
#footer1 h2 {
  text-align: center;
  font-family: 'candal', 'serif';
  font-size: 150%;
  color: #444;
}

#footer1 .content {
  text-align: center;
  font-family: roboto;
  padding-bottom: 20px;

}
#footer1 h4{
  margin: 5px;
}

.footerend {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: #393e46;
  font-size: 100%;
}
.footerend div ul{
  list-style-type: none;
  color: #f4f4f4;
}

.footerend div ul li a{
  list-style: none;
  text-decoration: none;
  font-family: helvetica;
  color: #f4f4f4;
}


#l1 {
  font-size: 120%;
  padding-bottom: 10px;
  font-weight: bold;
}

#l2 {
  padding-top: 5px;
  font-weight: lighter;
}

#l2 a {
  color: white;
}

@media only screen and (max-width:990px) {
  .restofbody {
    display: flex;
    flex-direction: column;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  #aboutus {
    text-align: justify;
    width: 100%;
    background-color: #e5e5e5;
    background-clip: padding-box;
    font-size: 80%;
    border-radius: 0%;
    font-family: roboto;
    margin: 0px;
    padding: 0px;
  }

  #aboutus .paragraph {
    background-color: inherit;
    padding: 0px;
    margin: 0px;
  }

  #aboutus .paragraph p {
    padding: 10px 20px;
  }

  .fieldofexperience {
    text-align: justify;
    width: 100%;
    background-color: #393e46;
    color: white;
    padding: 0px;
    background-clip: padding-box;
    margin: 0px;
    font-size: 80%;
    border-radius: 0%;
    font-family: roboto;
  }

  .fieldofexperience .paragraph {
    background-color: inherit;
    padding: 20px;
  }

  /*********** post slider**************/
  .page-wrapper {
    display: block;
    margin: 50px 0 0 0;
    overflow: hidden;
  }

  .post-slider {
    position: relative;
    height: 625px;
    padding-bottom: 10px;
    margin-top: 90px;
  }

  .post-slider .next {
    position: absolute;
    top: 45%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
  }

  .post-slider .prev {
    position: absolute;
    top: 45%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
  }

  .post-slider .post-wrapper {
    position: relative;
    width: 80%;
    height: 620px;
    margin: 0px auto;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
  }

  .post-slider .post-wrapper .post {
    position: relative;
    overflow: hidden;
    top: 0px;
    height: 600px;
    width: 300px;
    margin: 0px 0px;
    padding: 0px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
  }

  .post-slider .post-wrapper .post .name {
    position: absolute;
    width: inherit;
    font-family: helvetica;
    color: #443737;
  }

  .post-slider .post-wrapper .post .name .callsBody {
    display: none;
  }

  .post-slider .post-wrapper .post .name h1 {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-left: 0px;
    font-size: 400%;
    margin-bottom: 20px;
    margin-top: 200px;
    font-family: roboto;
    color: #393e46;
    font-weight: lighter;
  }

  .post-slider .post-wrapper .post .name h2 {
    text-align: center;
    padding-left: 20px;
    width: 100%;
    font-size: 200%;
    margin-top: 10px;
    font-weight: lighter;
    font-stretch: expanded;
    font-family: roboto;
    color: #393e46;
    font-weight: lighter;
  }

  .callsBody {
    display: none;
  }

  .post-slider .post-wrapper .post .name .readMore {
    position: relative;
    width: 300px;
    height: 70px;
    margin: 20px;
    left: 410px;
    top: 90px;
  }

  .post-slider .post-wrapper .post .name .readMore button {
    height: auto;
    width: auto;
    padding: 0.3em 1.2em;
    box-sizing: border-box;
    font-size: 200%;
    color: #FFFFFF;
    background-color: #4eb5f1;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: all 0.2s;
    text-align: center;
    text-decoration: none;
    border-radius: 2em;
    margin: 0 0.3em 0.3em 0;

  }

  .post-slider .post-wrapper .post .name .readMore button:hover {
    background: #4095c6;
  }

  .post-slider .post-wrapper .post .name .contactUs {
    position: relative;
    width: 300px;
    height: 70px;
    margin: 20px;
    left: 110px;
    top: 0px;
  }

  .post-slider .post-wrapper .post .name .contactUs button {
    height: auto;
    width: auto;
    padding: 0.3em 1.2em;
    box-sizing: border-box;
    font-size: 200%;
    color: #FFFFFF;
    background-color: #4eb5f1;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: all 0.2s;
    text-align: center;
    text-decoration: none;
    border-radius: 2em;
    margin: 0 0.3em 0.3em 0;
  }

  .post-slider .post-wrapper .post .name .contactUs button:hover {
    background: #4095c6;
  }

  #post1 {
    position: inherit;
    background-image: url("images/london7.jpg");
    background-size: cover;
  }

  #post2 {
    position: inherit;
    background-image: url("images/london5.jpg");
    background-size: cover;
  }

  #post2 h1 {
    color: white;
  }

  #post2 h2 {
    color: white;
    padding-left: 0px;
    padding-bottom: 40px;
  }

  #post2 .name .readMore {
    position: relative;
    width: 300px;
    height: 70px;
    margin: 20px;
    left: 410px;
    bottom: 10px;
  }

  #post2 .name .contactUs {
    position: relative;
    width: 300px;
    height: 70px;
    margin: 20px;
    left: 110px;
    top: 0px;
  }

  /*********** Our Team**************/
  .ourTeam {
    display: block;
    margin: 0;
    overflow: hidden;
  }

  .ourTeam a:hover {
    color: #006669;
  }

  .ourTeam .post-slider {
    position: relative;
    padding-bottom: 0px;
    width: auto;
    height: auto;
    margin-top: 0px;
  }

  .ourTeam .post-slider .slider-title {
    text-align: center;
    margin: 30px;
    font-family: 'candal', 'serif';
    color: #444;
  }

  .ourTeam .post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
  }

  .ourTeam .post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
  }

  .ourTeam .post-slider .post-wrapper1 {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
  }

  .ourTeam .post-slider .post-wrapper1 .post {
    height: 350px;
    width: 250px;
    margin: 0px 20px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
  }

  .ourTeam .post-slider .post-wrapper1 .post .post-info {
    text-align: center;
    font-family: roboto;
    height: 130px;
    color: inherit;
    font-size: 1.3em;
    padding: 0px 5px;
  }

  .ourTeam .post-slider .post-wrapper1 .post .post-info h2 {
    font-style: italic;
    font-size: 1.3em;
  }

  .ourTeam .post-slider .post-wrapper1 .post .slider-image {
    width: 80%;
    height: 250px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

  }

  .ourTeam .tileheader {
    text-align: center;
  }

  /*********** FORM**************/
  .footer {
    background-color:#b2fcff ;
    padding-left: 0%;
    padding-right: 0%;
    font-family: helvetica;
  }

  input[type=text], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
      /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=number], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
      /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    float: right;
    height: 80px;
    padding: 0.3em 1.2em;
    box-sizing: border-box;
    font-size: 200%;
    color: #FFFFFF;
    background-color: #4eb5f1;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: all 0.2s;
    text-align: center;
    text-decoration: none;
    border-radius: 2em;
    margin: 0 0.3em 0.3em 0;
    cursor:pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #4095c6;
  }


  #footer1 {
    text-align: center;
    background-color: #4eb5f1;
    font-family: "Open Sans", Arial, sans-serif;
    padding-bottom: 0px;
    margin: 0px;
  }

  #footer1 .content {
    padding: 10px 0;
  }


  h4 {
    margin: 0px;
  }

  .contactus {
    text-decoration: none;
    color:
  }

  .servicelist1 {
    background-color: #393e46;
    font-size: 100%;
  }

  .serviceslist {
    list-style-type: none;
    margin-top: 20px;
    color: #f4f4f4;
    font-family: helvetica;
    text-decoration: none;
  }

  .whowehelplist1 {
    background-color: #393e46;
  }

  .whowehelplist {
    list-style-type: none;
    margin-top: 20px;
    color: #f4f4f4;
    font-family: helvetica;
  }

  .resourceslist1 {
    display: none;
    background-color: #393e46;
  }

  .newsandupdates1 {
    display: none;
    background-color: #393e46;
  }

  #l1 {
    font-size: 1.8em;
    padding-bottom: 10px;
    font-weight: bold;
  }

  #l2 {
    padding-top: 5px;
    font-size:1.4em;
    font-weight: lighter;
  }

  #l2 a {
    color: white;
  }


  label {
    font-size: 2em;
  }
}

.mapouter {
  position: relative;
  text-align: right;
  justify-content: center;
  height: 500px;
  width: 100%;
  padding-bottom: 10px;

}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
  text-align: center;

}
@media only screen and (max-width:990px){
  .mapouter{
    width: 100%;
    padding: 0;
    margin: 0;

  }
  .gmap_canvas{
    width: 100%;
    padding: 0;
    margin: 0;

  }
  iframe{
    width:980px;
  }
}
